<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">com.enigmabridge.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.url">jdbc:sqlite:data/sqlite/footballdata.db</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <!--<property name="hbm2ddl.auto">create</property>-->
        <mapping class="Model.Away"/>
        <mapping class="Model.Competition"/>
        <mapping class="Model.Filter"/>
        <mapping class="Model.Fixture"/>
        <mapping class="Model.Home"/>
        <mapping class="Model.Player"/>
        <mapping class="Model.Result"/>
        <mapping class="Model.Standing"/>
        <mapping class="Model.Team"/>
    </session-factory>
</hibernate-configuration>